.window-app {
  font-family: $font-primary;
}

.vtt .window-content {
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  background-position: center;
  background-color: $c-black;
  color: $c-white;
}

.rollable {

  &:hover,
  &:focus {
    color: #000000;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    cursor: pointer;
  }
}
